/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
}
/* Shared CSS */
.container {
  width: 1240px;
  margin: 0 auto;
}

.font-dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 6rem;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.red-orange {
  color: #e6533c;
  font-size: 2rem;
}
.gray {
  color: rgba(255, 255, 255, 0.5);
}

.gray-bg {
  background: #222;
}
.img-fluid {
  width: 100%;
}
.common-btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 42px;
  background: #e6533c;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.common-btn:hover {
  outline: 1px solid #fff;
  background: transparent;
}
.banner-btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 42px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.common-btn:hover {
  background: #e6533c;
  outline: 1px solid #e6533c;
}
.section-gap {
  padding: 80px 0;
}
.section-gap-top {
  padding-top: 80px;
}
.section-gap-bottom {
  padding-bottom: 80px;
}
.common-section {
  text-align: center;
}
.common-section h3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
}
.common-section p {
  margin-top: 10px;
  padding: 0 20%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.text-center {
  text-align: center;
}
.d-none {
  display: none;
}
/* Header Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo a {
  text-decoration: none;
  color: #e6533c;
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
}
.menu ul {
  display: flex;
  padding: 12px 8px;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  padding: 4px 30px;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.3s ease-in;
}
.menu a:hover {
  background: #e6533c;
  border-radius: 39px;
}
.active {
  background: #e6533c;
  border-radius: 39px;
}
.humburger-menu {
  color: #fff;
  display: none;
}
/* Banner Section */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner-btn {
  margin-left: 10px;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  width: 80%;
}
.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 30px 0;
  width: 85%;
}
.banner-img {
  position: relative;
}
.total-video-1 {
  position: absolute;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 15px 15px;
  top: 30%;
  right: 0;
}

.total-video-1 h3,
.total-video-2 h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}
.total-video-1 p,
.total-video-2 p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.75rem;
}
.total-video-2 {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 15px 15px;
  position: absolute;
  bottom: 10%;
  left: 0;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: #e6533c;
  border-radius: 50%;
}
/* Tips Section */
.tips-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;
}
.tips-item img {
  width: 230px;
  height: auto;
  border-radius: 50%;
}
.tips-item h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.tips-item p {
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0.3px;
}
/* Blog Section */
.blog-container {
  display: flex;
  border-radius: 18px;
  background: #222;
  padding: 30px 32px 25px 54px;
}
.blog-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  /* width: 50%; */
}
.blog-paragraph {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  width: 50%;
  margin: 10px 0 20px 0;
}
.blog-img img {
  width: 330px;
  height: 300px;
}
/* Client Section */
.client-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.client-item h4 {
  color: #e6533c;
  font-size: 4rem;
}
.client-item p {
  color: #adadad;
  font-size: 1rem;
}
/* BMI Section */
.bmi-container {
  display: flex;
  justify-content: space-between;
  /* gap: 0 160px; */
}
.bmi-chart {
  width: 50%;
}
.bmi-calculator {
  width: 50%;
}
.bmi-section {
  background-color: #222;
  margin-top: 40px;
  padding-top: 10px;
}
.bmi-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 40px 0 50px 0;
}
.bmi-table table {
  border-collapse: collapse;
}
.bmi-table th {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}
.bmi-table td {
  font-size: 1rem;
}
.bmi-table td,
th {
  padding: 15px 20px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-calculator h5 {
  margin: 40px 0 10px 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}
.bmi-calculator p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  width: 80%;
}
.bmi-form {
  margin-top: 20px;
}
.bmi-form input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
  outline: none;
  border: none;
  margin: 10px 10px 10px 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 1rem;
}
.form-factor {
  width: 84%;
}
.bmi-form .common-btn {
  margin-top: 20px;
}
.form-icon {
  position: relative;
}
.form-icon i {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}
/* Team Section */
.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 30px;
}
.team-content h6 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}
.team-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1;
  margin-top: 10px;
}
.team-member {
  position: relative;
}
.team-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.team-member img {
  border-radius: 18px;
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  ); */
  opacity: 0.6;
  height: 300px;
}
/* Footer-container */
footer {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 60px;
  margin-bottom: 40px;
}
.footer-logo p {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 171.429% */
  letter-spacing: 0.3px;
  margin-top: 10px;
}
.footer-menu h6 {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.footer-menu ul li {
  list-style: none;
  margin-top: 10px;
}
.footer-menu ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s ease-out;
}
.footer-menu a:hover {
  color: #e6533c;
}

/* Responsive CSS */

/* Responsive CSS */
/* mobile Devices */
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .common-section p {
    padding: 0 0;
  }
  .menu {
    display: none;
  }
  .humburger-menu {
    display: block;
    font-size: 1.5rem;
  }
  /* Banner Section */
  .banner-container {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-title {
    width: 100%;
    font-size: 2rem;
  }
  .banner-title span {
    font-size: 3rem;
  }
  .banner-description {
    width: 100%;
  }

  .blog-img img {
    width: 100%;
    height: auto;
  }
  .banner-btn {
    margin: 15px 0 0 0;
  }

  /* Tips Section */
  .tips-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .tips-item {
    margin-bottom: 50px;
  }
  /* Blog Section */
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .blog-title {
    font-size: 2rem;
    width: 100%;
  }
  .blog-paragraph {
    width: 100%;
  }
  .blog-img {
    margin-top: 30px;
  }
  .blog-container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
  }
  .section-gap-top {
    padding-top: 0;
  }
  .container {
    width: 90%;
  }
  /* Client Section */
  .client-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 0;
  }
  /* BMI Section */
  .bmi-container {
    flex-direction: column;
  }
  .bmi-chart,
  .bmi-calculator {
    width: 100%;
  }
  .bmi-form input {
    width: 79%;
    padding-right: 30px;
  }
  .form-icon i {
    top: 76%;
    right: 13%;
  }
  /* Team Section */
  .team-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Footer */
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 0;
  }
}
/*Tablet devices*/
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 95%;
  }
  /* nav */
  .menu {
    display: none;
  }
  .humburger-menu {
    display: block;
    font-size: 1.5rem;
  }
  /* Banner Section */
  .banner-container {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-title {
    width: 100%;
    font-size: 2rem;
  }
  .banner-title span {
    font-size: 3rem;
  }
  .banner-description {
    width: 100%;
  }
  .common-section p {
    padding: 0 0;
  }
  /* Banner Section */
  /* Banner Section */
  /* .banner-container {
    flex-direction: column;
    padding: 0 20px;
  }
  .banner-content {
    margin-top: 20px;
  }
  .banner-content h1 {
    font-size: 4rem;
    padding-right: 40%;
  }
  .banner-content h1 span {
    font-size: 4rem;
  }
  .banner-content p {
    padding: 0 40% 0 0;
  }
  .banner-img {
    margin: 30px auto;
  }

  .banner-btn {
    margin: 15px 0 0 10px;
  } */
  /* Tips Section */
  .tips-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .tips-item {
    margin-bottom: 50px;
  }
  /* Blog Section */
  .blog-container {
    display: flex;
    flex-direction: column;
  }
  .blog-title {
    font-size: 2rem;
    width: 100%;
  }
  .blog-paragraph {
    width: 100%;
  }
  .blog-img {
    margin-top: 30px;
  }
  .blog-img img {
    width: 100%;
    height: auto;
  }
  .blog-container {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
  }
  .section-gap-top {
    padding-top: 0;
  }
  /* Client Section */
  .client-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0;
  }
  /* BMI Section */
  .bmi-container {
    flex-direction: column;
    padding-left: 25px;
  }
  .bmi-chart,
  .bmi-calculator {
    width: 100%;
  }
  .bmi-form input {
    width: 79%;
    padding-right: 30px;
  }
  .form-icon i {
    top: 70%;
    right: 20%;
  }
  /* Team Section */
  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Footer Section */
  /* Footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 0;
  } */
}
/* Medium Devices (landscape tablets) */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .common-section p {
    padding: 0 0;
  }
  /* Tips Section */
  .tips-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .tips-item {
    margin-bottom: 50px;
  }
  /* Banner Section */
  .banner-container {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-title {
    width: 100%;
    font-size: 2rem;
  }
  .banner-title span {
    font-size: 3rem;
  }
  .banner-description {
    width: 100%;
  }
  /* Blog Section */
  .blog-container {
    align-items: center;
  }
  .blog-title {
    font-size: 2.5rem;
    width: 90%;
  }
  .blog-paragraph {
    width: 90%;
  }
  .blog-img {
    margin-top: 30px;
  }

  .blog-container {
    display: flex;
    padding: 20px 15px 20px 15px;
  }
  .section-gap-top {
    padding-top: 0;
  }
  /* Client Section */
  .client-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0;
  }
  /* BMI Section */
  .bmi-container {
    flex-direction: column;
    padding-left: 25px;
  }
  .bmi-chart,
  .bmi-calculator {
    width: 100%;
  }
  .bmi-form input {
    width: 79%;
    padding-right: 30px;
  }
  .form-icon i {
    top: 70%;
    right: 20%;
  }
  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large Devices  */
@media (min-width: 992px) and (max-width: 1239px) {
  .container {
    width: 95%;
  }
  .common-section p {
    padding: 0 0;
  }
  nav {
    padding: 30px;
  }
  nav ul {
    display: flex;
  }
  .hum-menu {
    display: none;
  }
  /* Blog Section */
  .blog-container {
    align-items: center;
  }
  .blog-title {
    font-size: 2.5rem;
    width: 90%;
  }
  .blog-paragraph {
    width: 90%;
  }
  .blog-img {
    margin-top: 30px;
  }
  .blog-container {
    display: flex;
    padding: 20px 15px 20px 15px;
  }
  .section-gap-top {
    padding-top: 0;
  }
  /* Client Section */
  .client-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .bmi-form input {
    width: 80%;
    padding-right: 30px;
  }
  .bmi-container {
    padding-left: 25px;
  }
  .form-icon i {
    top: 70%;
    right: 15%;
  }
}
